{% extends "base.html" %}

{% block content %}

{% for field, errors in form.errors.items() %}
<div>
    {{ form[field].label }}: {{ ", ".join(errors) }}
</div>
{% endfor %}

<form method="POST" action="{{ url_for('ingredients') }}" class="flex flex-col space-y-4">
    {{ form.csrf_token }}
    <div class="flex flex-col">
        {{ form.name.label }} {{ form.name(size=20, class_="border") }}
    </div>
    <div class="flex flex-col">
        {{ form.fat.label }} {{ form.fat(class_="border") }}
    </div>
    <div class="flex flex-col">
        {{ form.saturated_fat.label }} {{ form.saturated_fat(class_="border") }}
    </div>
    <div class="flex flex-col">
        {{ form.carbohydrate.label }} {{ form.carbohydrate(class_="border") }}
    </div>
    <div class="flex flex-col">
        {{ form.protein.label }} {{ form.protein(class_="border") }}
    </div>
    <input type="submit" value="Create">
</form>

{% endblock content %}
