{% extends "base.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <th></th>
            <th>Breakfast</th>
            <th>Lunch</th>
            <th>Dinner</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Monday</td>
            {% with day = "monday" %}
                {% with meal = "breakfast" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "lunch" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "dinner" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
            {% endwith %}
        </tr>
        <tr>
            <td>Tuesday</td>
            {% with day = "tuesday" %}
                {% with meal = "breakfast" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "lunch" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "dinner" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
            {% endwith %}
        </tr>
        <tr>
            <td>Wednesday</td>
            {% with day = "wednesday" %}
                {% with meal = "breakfast" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "lunch" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "dinner" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
            {% endwith %}
        </tr>
        <tr>
            <td>Thursday</td>
            {% with day = "thursday" %}
                {% with meal = "breakfast" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "lunch" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "dinner" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
            {% endwith %}
        </tr>
        <tr>
            <td>Friday</td>
            {% with day = "friday" %}
                {% with meal = "breakfast" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "lunch" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "dinner" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
            {% endwith %}
        </tr>
        <tr>
            <td>Saturday</td>
            {% with day = "saturday" %}
                {% with meal = "breakfast" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "lunch" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "dinner" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
            {% endwith %}
        </tr>
        <tr>
            <td>Sunday</td>
            {% with day = "sunday" %}
                {% with meal = "breakfast" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "lunch" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
                {% with meal = "dinner" %}
                    {% include "_new_allocation.html" %}
                {% endwith %}
            {% endwith %}
        </tr>
    </tbody>
</table>

<a href="{{ url_for("new-recipe") }}">Create a recipe</a>

{% endblock content %}
